# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [1]:
import pandas as pd
import numpy as np
import random
pd.set_option('display.max_colwidth', None)
questions = pd.read_csv('jeopardy.csv')

In [2]:
#print(questions.head())
#print(questions.columns)

In [3]:
#fix formatting of column names
questions = questions.rename(columns = lambda x: x.strip().replace(' ','_'))
#print(questions.head())

#print(questions[questions.Category.str.contains('EPITAPH')])

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [4]:
#function to search questions 
def topic_filter(words):
    filtered_rows = questions
    for word in words: 
        filtered_rows = filtered_rows[filtered_rows.Question.str.lower().str.contains(word.lower())]
    return filtered_rows

In [5]:
#Add a year column.
questions['Year'] = questions.apply(lambda row: int(row['Air_Date'][0:4]),axis=1)
#print(questions.head())
#print(np.sort(questions.Year.unique()))

In [6]:
#testing out the function! 
topic_filter(['Discord'])

,Show_Number,Air_Date,Round,Category,Value,Question,Answer,Year
98481,5190,2007-03-16,Double Jeopardy!,FIGHTIN' WORDS,$2000,"In Cockney rhyming slang, a wife is ""trouble and"" this type of discord",strife,2007
137544,3235,1998-10-02,Double Jeopardy!,INAUGURAL ADDRESSES,$600,"President heard here: ""We find ourselves rich in goods but ragged in spirit, reaching with magnificent precision for the moon, but falling into raucous discord on Earth...""",Richard M. Nixon,1998

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [7]:
#Convert monetary value to floats for calculation purposes
questions['Value'] = questions.Value.apply(lambda x: float(x.strip('$').replace(',','')) if x!='None' else x)

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [8]:
def topic_difficulty(topic):
    return topic_filter(topic).Value.mean()

In [9]:
print(topic_difficulty(['Harry','Potter']))
topic_filter(['Emily'])

707.3529411764706

,Show_Number,Air_Date,Round,Category,Value,Question,Answer,Year
453,6037,2010-12-07,Double Jeopardy!,PLAY HEROINES,800.0,Emily Webb of Grover's Corners,Our Town,2010
2932,3697,2000-10-03,Jeopardy!,REQUIRED READING,300.0,"Last name of sisters Emily & Charlotte, a 1-2 punch with ""Wuthering Heights"" & ""Jane Eyre""",Bronte,2000
5416,2047,1993-06-29,Jeopardy!,ETIQUETTE,500.0,"In 1922 Emily Post wrote, ""A gentleman takes off"" this ""when a lady enters the elevator""",his hat,1993
10918,3588,2000-03-22,Double Jeopardy!,THE BRONTE BEAT,200.0,"This Emily Bronte novel opens with Mr. Lockwood telling of a visit with his landlord, Mr. Heathcliff","""Wuthering Heights""",2000
10936,3588,2000-03-22,Double Jeopardy!,THE BRONTE BEAT,800.0,"The book of poetry Charlotte, Emily & Anne published under this pseudonymous last name sold only 2 copies","Bell (Currer, Ellis & Acton)",2000
...,...,...,...,...,...,...,...,...
206604,3578,2000-03-08,Double Jeopardy!,WOMEN WRITERS,200.0,"Last name of Anne, sister of Emily & Charlotte, who wrote ""The Tenant of Wildfell Hall""",Bronte,2000
207077,3592,2000-03-28,Double Jeopardy!,QUOTATIONS,600.0,"An Emily Dickinson poem begins, ""Because I could not stop for"" this ""he kindly stopped for me""",Death,2000
207831,4182,2002-11-05,Jeopardy!,PRESIDENTIAL PETS,1000.0,"He kept some of his favorite racing fillies at the White House, including Emily & Lady Nashville",Andrew Jackson,2002
209743,3274,1998-11-26,Double Jeopardy!,GIVING THANKS,200.0,"Emily Post says these must be acknowledged within 3 months -- & guests don't have a year to give them, either",wedding presents,1998
215065,5305,2007-10-05,Double Jeopardy!,LE CINEMA,1200.0,"This 2001 title role was meant for Emily Watson, but she didn't speak French; Audrey Tautou got the part",Amelie,2007

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [10]:
def unique(filtered):
     return filtered.Answer.value_counts()

In [11]:
print(unique(topic_filter(['Emily'])))

Amherst                 4
Wuthering Heights       4
Americanization         3
Our Town                3
Bronte                  2
                       ..
The Bob Newhart Show    1
Charlotte Brontë        1
the prom                1
Handshake               1
Amelie                  1
Name: Answer, Length: 69, dtype: int64

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

In [12]:
#filters for questions mentioning a certain topic between two years (inclusive)
def filter_by_date(topic,beginning,end):
    filtered = questions[(questions['Year'] >= beginning)
                                    & (questions['Year'] <= end)]
    
    for word in topic:
        filtered = filtered[filtered['Question'].str.lower().str.contains(word.lower())]
        
    return filtered

In [13]:
#finds the percentage of questions from a year range that refer to a topic
def topic_percentage(topic,beginning,end):
    total = float(len(filter_by_date([""],beginning,end)))
    return len(filter_by_date(topic,beginning,end))/total

In [14]:
print(topic_percentage(["Emily"],1990,1999))
print(topic_percentage(["Emily"],2000,2009))

0.0004053220548065909
0.00039563349804605497

In [15]:
#Didn't end up using this 
print(questions.Round.unique())
single_jeop = questions[questions['Round'] == 'Jeopardy!']
double_jeop = questions[questions['Round'] == 'Double Jeopardy!']
final_jeop = questions[questions['Round'] == 'Final Jeopardy!']
tiebreaker = questions[questions['Round'] == 'Tiebreaker']
print(len(single_jeop))
print(len(double_jeop))
print(len(final_jeop))
print(len(tiebreaker))

['Jeopardy!' 'Double Jeopardy!' 'Final Jeopardy!' 'Tiebreaker']
107384
105912
3631
3

In [16]:
#checks whether a given category is more likely to be found in a particular round
def cats_by_round(category):
    single_count = len(questions[(questions['Round'] == 'Jeopardy!') & 
                                 (questions['Category'].str.lower().str.contains(category.lower()))])
    double_count = len(questions[(questions['Round'] == 'Double Jeopardy!') & 
                                 (questions['Category'].str.lower().str.contains(category.lower()))])                             
    print('"{}" has appeared in the Single Jeopardy category {} times.'.format(category, single_count))
    print('"{}" has appeared in the Double Jeopardy category {} times.'.format(category, double_count))

In [17]:
cats_by_round('Harry')
len(questions)

"Harry" has appeared in the Single Jeopardy category 30 times.
"Harry" has appeared in the Double Jeopardy category 30 times.

216930

In [18]:
questions.head()

,Show_Number,Air_Date,Round,Category,Value,Question,Answer,Year
0,4680,2004-12-31,Jeopardy!,HISTORY,200.0,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus,2004
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,200.0,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe,2004
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,200.0,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona,2004
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,200.0,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's,2004
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,200.0,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams,2004

In [19]:
#asks a question
def quiz_question():
    selection = []
    #presents 5 question options
    for n in range(5):
        selection.append(random.randint(0,len(questions)))
    print("Choose a question!")
    for n in range(5):
        print(str(n+1)+": " + questions.iloc[selection[n]]['Category'] + " for $" 
              + str(questions.iloc[selection[n]]['Value']))
    s = int(input())
    
    #presents question and requests answer
    print(questions.iloc[selection[s-1]]['Question'])
    answer = input()
    
    #asks user to verify their own answer, so they don't have to get it perfectly
    print("You said {}. The correct answer was {}! Were you right? Y/N"
          .format(answer,questions.iloc[selection[s-1]]['Answer']))
    answer = input()
    
    #in Jeopardy, if you get it wrong, you lose money. 
    if answer.lower() == 'y':
        return questions.iloc[selection[s-1]]['Value']
    else:
        return -1*questions.iloc[selection[s-1]]['Value']

In [20]:
def quiz(num):
    score = 0
    for n in range(num):
        print("Current score: $" + str(score))
        print("Question {}:".format(str(n+1)))
        score += quiz_question()
    print("Final score: $" + str(score))
    return score

In [21]:
score = quiz(5)

Current score: $0
Question 1:
Choose a question!
1: OUR NATION'S CAPITAL for $600.0
2: TV WOMEN for $400.0
3: SKY HIGH for $600.0
4: IT'S TYLER TIME! for $1600.0
5: "GG" for $1200.0
5
What Harry Potter would consider me as a non-practitioner of magic
Muggle
You said Muggle. The correct answer was a muggle! Were you right? Y/N
y
Current score: $1200.0
Question 2:
Choose a question!
1: 19th CENTURY AMERICANS for $400.0
2: HAUTE DOGS for $600.0
3: I GOT 3 As, MOM! for $1200.0
4: UPDATED LITERATURE? for $600.0
5: HOMOPHONES for $100.0
3
Sing out this 2-word musical term, from the Italian from "in the manner of a choir"
a capella
You said a capella. The correct answer was a cappella! Were you right? Y/N
y
Current score: $2400.0
Question 3:
Choose a question!
1: THE MARSHALL PLAN for $200.0
2: NEIL DOWN for $800.0
3: "SUP" for $800.0
4: PITCHING THE PERFECT GAME for $1200.0
5: CAMELS for $1000.0
3
For an 80-degree angle, a 100-degree angle is this
supplementary
You said supplementary. The correct answer was supplementary! Were you right? Y/N
y
Current score: $3200.0
Question 4:
Choose a question!
1: APOSTLES for $400.0
2: ADD A LETTER for $1600.0
3: HETERONYMS for $2000.0
4: FAMOUS AMERICANS for $None
5: "F" STOP for $400.0
3
An exterior door, or to magically captivate someone
entrance
You said entrance. The correct answer was entrance & entrance! Were you right? Y/N
y
Current score: $5200.0
Question 5:
Choose a question!
1: WORLD CUP '98 for $100.0
2: YOU-PHEMISMS for $300.0
3: DOUBLE-LETTER WORDS for $800.0
4: THE MUSEUM OF FLIGHT for $200.0
5: ANAGRAMS for $600.0
3
The Sorting Hat placed Harry Potter in this House at Hogwarts
Gryffindor
You said Gryffindor. The correct answer was Gryffindor! Were you right? Y/N
y
Final score: $6000.0

## Solution

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.